system/system/system_ext/priv-app/Settings/Settings.apk
system/system/apex/com.android.vndk.v30.apex
system/my_bigball/app/TrichromeLibrary64CN/TrichromeLibrary64CN.apk
system/my_bigball/priv-app/GmsCore/GmsCore.apk
system/my_stock/del-app/OplusGames/OplusGames.apk
system/my_stock/opex/Omoji.opex
system/my_stock/app/Pictorial/Pictorial.apk
system/my_stock/priv-app/OppoGallery2/OppoGallery2.apk
system/my_product/del-app/BaiduInput_U_Product_Del/BaiduInput_U_Product_Del.apk
